{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-14">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-7 md:col-9 mb-8">
            <h1 class="mb-4 text-h3 lg:text-h1 text-center">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8 text-justify">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <div class="text-center">
                  <!-- Added div with text-center -->
                  <a
                    class="btn btn-primary"
                    href="{{ .link | absURL }}"
                    {{ if strings.HasPrefix .link `http` }}
                      rel="noopener"
                    {{ end }}>
                    {{ .label }}
                    <i class="fa fa-arrow-right pl-2"></i>
                  </a>
                </div>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" "DisplayXL" "800x" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- TODO: create separate section for pinned articles -->

  <!-- TODO: create separate section for latest articles -->
{{ end }}
